* {
  font-family: Asap, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  text-align: center;
}

h1,
ul {
  margin: 20px 0;
}

li {
  list-style-type: none;
  margin-top: 5px;
}

button {
  background: white;
  border: 1px solid black;
  padding: 5px 10px;
}

button:hover {
  background: lightgray;
  cursor: pointer;
}
